Django==4.2.11
djangorestframework==3.14.0
django-cors-headers==4.3.1
psycopg2-binary==2.9.11
pgvector==0.2.5
celery==5.3.6
redis==5.0.3
django-celery-results==2.5.1
textblob==0.18.0
openai==2.26.0
langchain==1.2.12
langchain-openai==1.1.11
langchain-community==0.4.1
python-dotenv==1.0.1
gunicorn==21.2.0
numpy==2.4.3
scikit-learn==1.8.0
